{% extends "base.html" %}

{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
    <h1 class="display-1 fw-bold">401</h1>
    <p class="fs-3"> 
        {% if exception.detail == "Invalid credentials" %}
            <span class="text-danger">Erreur d'authentification :</span> 
			
		<p class="lead">
			Veuillez vous connecter pour accéder à cette page.
		</p>  
        {% else %}
            <span class="text-danger">Bad Request.</span>
        {% endif %}
    </p>
    <p class="lead">
        {{exception.detail}}
    </p>
    <a href="/login" class="btn btn-success">Sign in</a>
    <a href="/signup" class="btn btn-outline-success">Register</a><br>
    <a href="/" class="btn btn-primary mt-2">Go Home</a>
    </div>
</div>
{% endblock %}
