{% extends "base.html" %}
{% block title %}Browse{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container m-4">
    <h1 class="mb-3">Articles</h1>
    <div class="row row-cols-1 row-cols-md-2 
    row-cols-lg-3 g-4">
    {% for item in articles %}
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-auto position-relative">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{item.title}}
                        </h5>
                        <h5 class="card-subtitle text-muted">
                            {{item.author.first_name}} {{item.author.last_name}}
                        </h5>
                        <p class="card-text">
                            {{item.body|truncate|safe}}
                        </p>
                        <a href="/articles/read/{{item.id}}" class="btn btn-primary stretched-link">Read</a>
                        <span class="card-text position-absolute top-0 end-0 m-3">
                            <small class="text-muted">
                                {{item.created_at.strftime("%d %b %Y %X")}}
                            </small>
                        </span>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div> 
{% endblock %}
