{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
<div class="b">
    <div class="login-container">
        <form action="/changed" method="post"> 
            <h2>Change Password</h2>
            <div class="input-group">
                <label for="new_password">New Password</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="input-group">
                <label for="confirm_new_password">Confirm New Password</label>
                <input type="password" id="confirm_new_password" name="confirm_new_password" required>
            </div>
            <button type="submit">Change Password</button>
        </form>
    </div>
</div>

{% endblock %}
