<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/exemplelogo.png" alt="ACM Logo" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/articles/write" class="nav-link">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles/browse">Browse</a>
                </li>
            </ul>
            <form class="d-flex me-4" action="/articles/search/"> 
                <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <li class="nav-item dropdown">
                <a class="text-decoration-none text-light dropdown-toggle ms-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="rounded-circle bg-white" src="/static/pfp.png" alt="ACM Logo" height="30">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/login">Sign in</a></li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/signup">Register</a></li>
                </ul>
            </li>
        </div>
    </div>
</nav>
