{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
<div class="b">
    <div class="login-container">
        <form action="/forgot_password" method="post"> 
            <h4 class="text-center">Change Password</h4>
            <div class="input-group">
                <label for="email">Enter your Email</label>
                <input type="email" id="email" name="email" required>
            </div>
           
            <button type="submit">Send</button>
            <p> {{message}}</p>
        </form>
    </div>
</div>

{% endblock %}
