{% extends "base.html" %}
{% block title %}Read{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container my-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title">{{ article.title }}</h1>
            <h5 class="card-subtitle mb-2 text-muted">{{ article.author.first_name }} {{ article.author.last_name }}</h5>
            <h6 class="text-secondary position-absolute top-0 end-0 m-3">{{ article.created_at.strftime("%d %b %Y %X") }}</h6>
            <hr>
            <div class="card-text">
                {{ article.body|safe }}
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="card shadow-sm p-3">
        <h3 class="mt-2">Comment section</h3>
        <form id="post-form">
            <input type="text" name="comment" id="comment" placeholder="Add your comment" class="form-control mb-2">
            <button type="submit" class="btn btn-primary mb-4">Post</button>
        </form>
        <div id="comments-list">
            {% for com in article.comments %}
            <div class="comment mb-3">
                <small class="text-muted">Posted by {{ com.author.first_name }} {{ com.author.last_name }} on {{ com.created_at.strftime("%d %b %Y %X") }}</small>
                <p class="mb-1">{{ com.body }}</p>
                <!-- Boutons Like et Dislike -->
                <span>
                    <a href="/articles/comments/like/{{ article.id }}/{{ com.id }}" class="bi bi-hand-thumbs-up"></a>
                    <span>{{ com.likes }}</span>
                </span>
                <span>
                    <a href="/articles/comments/dislike/{{ article.id }}/{{ com.id }}" class="bi bi-hand-thumbs-down"></a>
                    <span>{{ com.dislikes }}</span>
                </span>
                <!-- ----------------------- -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    var form = document.getElementById('post-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        var formData = new FormData(form);
        console.log(formData)
        fetch(`/articles/add_comment/{{ article.id }}`, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            window.location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

{% endblock %}
