{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<form class="d-flex" action="/articles/search/">
    <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<div class="container m-4">
    <div class="row row-cols-1 row-cols-md-2 
    row-cols-lg-3 g-4">
    {% for item in articles %}
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <!-- <h5 class="card-title">
                            Data Structures
                        </h5> -->
                        <p class="card-text">
{{item.body}}
                        </p>
                        <!-- <p class="card-text">
                            <small class="text-muted">
                                Last updated now
                            </small>
                        </p> -->
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div> 
{% endblock %}
