.b {
    font-family: Arial, sans-serif;
    background-color: linear-gradient(to right, #2c3e50, #4ca1af);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -30px;
}
body {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
   
}

.login-container {
    background-color: rgb(224, 236, 242);
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
}


.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-option {
    text-align: center;
    margin-top: 20px;
}

.signup-option a {
    color: #4caf50;
}



#bh1:hover{
    background-color: #4d648d;
    
}

#bh1{
    color: white;
    background-color: #293451;
    border: none;
    width: 150px;
}
#bh{
    color: white;
    background-color: #293451;
    border: none;
    
}




#home{
    margin-top: -30px;
}
