{%extends "base.html" %}

{% from "macro.html" import display %}

{% block content %}

<div class ="container mt-4">
<div class="row"  id="list">   
    <h2> You will find below the list of alls books aviables in our Library.</h2>
</div>

<div class="row">
    <table class=" table table-sm table-striped mt-3">
        <thead>
            <tr>
                <th scope ="col">#</th>
                <th scope ="col">ISBN</th>
                <th scope ="col"> Title </th>
                <th scope ="col"> Author </th>
                <th scope ="col"> Editor </th>
                <th scope ="col"> Delete</th>
                <th scope ="col"> Modify</th>

            </tr>
        </thead>

        <tbody>  
                {% for book in books%}
                    {{ display( '#' ,book)}}
                {% endfor %}
        </tbody>
    </table>
</div>
<a class="btn btn-outline-success mx-4" href="/creation/">Add a book</a>
</div>

{% endblock%}
