{% macro display(num,books) %}
<tr>
    <td>{{num}}</td>
    <td> {{books.ISBN}}</td>
    <td> {{books.title}}</td>
    <td> {{books.author}}</td>
    <td> {{books.editor}}</td>
    <td>
        <form id="deleteForm" action="delete/{{ books.ISBN }}" method="post">
            <button type="button" class="btn btn-outline-danger mx-2" onclick="confirmAndDelete(this)">Delete</button>
        </form>        
    </td>
    <td>
        <a class="btn btn-outline-success mx-4" href="modify/{{ books.ISBN }}">Book modification</a>
    </td>
</tr>

{% endmacro %}

{% macro displayU(num,users) %}
<tr>
    <td>{{num}}</td>
    <td> {{users.first_name}}</td>
    <td> {{users.last_name}}</td>
    <td> {{users.email}}</td>
    <td> {{users.status}}</td>
    <td> {{users.group}}</td>
    <td>
        <a class="btn btn-outline-success mx-4" href="modify_status/{{ users.email }}">Modify status</a>
    </td>
    <td>
        <a class="btn btn-outline-success mx-4" href="modify_group/{{ users.email }}">Modify group</a>
    </td>

</tr>

{% endmacro %}

