{%extends "base.html" %}

{% block content %}

<div class="container center-content">
    <h1>Edit your book</h1>

    <form action="/modify_status/{{ user.email }} " method="post" class="was-validated">
        
        <div class="form-group">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="status" name="status" placeholder="status" required>
                    <label for="status" class="form-label">New Status</label>
                  </div>
        </div>
        
        <button type="submit" class="btn btn-success my-4">Apply modifications</button>
        <a class="btn btn-outline-dark mx-2" href="/admin">Back</a>
        
    </form>
        
</div>

{% endblock %}
